.building {
	float: left;
}

.drooltipLoaderWrapper {
	float: left;
	width: 15px;
	height: 15px;
	padding: 2px;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}

.drooltipLoader {
	border-radius: 100%;
	display: block;
	width: 100%;
	height: 100%;
	animation-name: drooltipPreloader;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	-webkit-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.drooltipLoader.stop {
	animation: none;
	transform: scale(0);
}

.drooltip {
	position: absolute;
	padding: 5px 20px;
	font-size: 14px;
	color: #fff;
	z-index: 99999;
	max-width: 500px;
	transform-origin: center 100%;
	opacity: 0;
}

.drooltip .bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	box-shadow: 0 1px 42px -3px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	transform-origin: inherit;
}

.drooltip .content {
	position: relative;
	float: left;
	width: 100%;
	z-index: 1;
	transform-origin: inherit;
	-webkit-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	white-space: pre-wrap;
}

.drooltip .content.showDynamic {
	opacity: 0;
}

.drooltip.drooltipMaterial {
	transform-origin: center center;
}

.drooltip.drooltipMaterial .bg {
	height: 0;
	-webkit-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	box-shadow: none;
	transform: scale(0);
}

.drooltip.drooltipMaterial .content {
	-webkit-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transform: scale(0) translateY(20px);
	opacity: 0;
}

.drooltip.drooltipMaterial.animate .bg {
	height: 100%;
	box-shadow: 0 1px 42px -3px rgba(0, 0, 0, 0.3);
	transform: scale(1);
}

.drooltip.drooltipMaterial.animate .content {
	transform: scale(1) translateY(0);
	opacity: 1;
}

.drooltip.loaded {
	-webkit-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	opacity: 1;
}

.drooltip.hideTooltip {
	display: none;
	opacity: 0;
	cursor-pointer: none;
	pointer-events: none;
}

.drooltip.hideTooltip.fake {
	display: block;
	opacity: 0;
	pointer-events: none;
	cursor: none;
	transition: none;
}

.drooltip.drooltipBounce {
	animation-name: drooltipBounce;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.drooltip.drooltipBounce.out {
	animation-name: drooltipBounceOut;
}

.drooltip.drooltipFloat {
	animation-name: drooltipFloatVertical;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.drooltip.drooltipFloat.right, .drooltip.drooltipFloat.left {
	animation-name: drooltipFloatHorizontal;
}

.drooltip.drooltipFade {
	animation-name: drooltipFade;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
}

.drooltip.drooltipFade.out {
	animation-name: drooltipFadeOut;
}

.drooltip:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 6px solid transparent;
	border-top-color: inherit;
	/* left: 255px; */
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.2s ease-in-out;
}

.drooltip.showArrow:after {
	bottom: -11px;
	opacity: 1;
}

.drooltip.bottom {
	transform-origin: center 0;
}

.drooltip.bottom:after {
	bottom: auto;
	top: 0;
	border-top-color: transparent;
	border-bottom-color: inherit;
}

.drooltip.bottom.showArrow:after {
	top: -11px;
}

.drooltip.right {
	transform-origin: 0 center;
}

.drooltip.right:after {
	bottom: auto;
	left: 0;
	border-top-color: transparent;
	border-right-color: inherit;
	top: 50%;
	transform: translateY(-50%);
}

.drooltip.right.showArrow:after {
	left: -11px;
}

.drooltip.left {
	transform-origin: 100% center;
}

.drooltip.left:after {
	left: auto;
	bottom: auto;
	border-top-color: transparent;
	border-left-color: inherit;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.drooltip.left.showArrow:after {
	right: -11px;
}

@keyframes drooltipPreloader {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes drooltipBounce {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes drooltipBounceOut {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes drooltipFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes drooltipFadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes drooltipFloatVertical {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes drooltipFloatHorizontal {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}

/*# sourceMappingURL=drooltip.css.map */

.drooltip-icon {
	display: inline-block;
	border: 1px solid #234b5a;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	color: #234b5a;
	font-size: 14px;
	position: relative;
	float: right;
	cursor: help;
	margin-left: 10px;
}

.drooltip-icon:before {
	content: "?";
	display: inline-block;
	line-height: 18px;
	vertical-align: top;
}