@charset "UTF-8";
::-webkit-input-placeholder { font-weight: 300; color: #999; }

::-moz-placeholder { font-weight: 300; color: #999; }

::-ms-input-placeholder { font-weight: 300; color: #999; }

body { font-size: 1.4rem; font-family: "Open Sans", sans-serif; color: #444; line-height: 1.5; }

h1 { font-size: 2.8rem; font-weight: 600; margin: 4rem 0 0.5rem; }

h2 { font-size: 2rem; font-weight: 600; margin: 3rem 0 0.5rem; }

h3 { font-size: 1.6rem; font-weight: 600; margin: 2rem 0 0.5rem; }

.alert > h1, h1 + p, .alert > h2, h2 + p, .alert > h3, h3 + p { margin-top: 0; }
h1 .thin, h2 .thin, h3 .thin { font-weight: 400; }

.align-right { float: right; }

.thin { font-weight: 400; }

a { color: #398ECF; cursor: pointer; }
a:hover { text-decoration: underline; color: #62a5d9; }

blockquote { font-weight: 600; font-style: italic; position: relative; padding-left: 4rem; margin: 0; }
blockquote:before { content: '"'; font-size: 4rem; position: absolute; left: 0rem; margin-top: -1rem; }

.marker { background-color: Yellow; }

input[type='text'], input[type='email'], input[type='password'], input[type='url'], input[type='number'], input[type='tel'], textarea { display: block; width: 100%; padding: 0.5rem 1rem; font-family: "Open Sans", sans-serif; background-color: #fff; box-sizing: border-box; -webkit-border-radius: 0.2rem; -moz-border-radius: 0.2rem; -ms-border-radius: 0.2rem; border-radius: 0.2rem; border: 1px solid #ccc; font-size: 1.4rem; font-weight: 600; color: #444; -webkit-appearance: none; -moz-appearance: none; appearance: none; max-width: 440px; }
input[type='text'].ng-invalid, input[type='email'].ng-invalid, input[type='password'].ng-invalid, input[type='url'].ng-invalid, input[type='number'].ng-invalid, input[type='tel'].ng-invalid, textarea.ng-invalid { border: 1px solid #F77 !important; background-color: #FFF3F3; }
td input[type='text'], .col input[type='text'], td input[type='email'], .col input[type='email'], td input[type='password'], .col input[type='password'], td input[type='url'], .col input[type='url'], td input[type='number'], .col input[type='number'], td input[type='tel'], .col input[type='tel'], td textarea, .col textarea { border-color: #f3f3f3; max-width: 100%; }
input[type='text'].underline, input[type='email'].underline, input[type='password'].underline, input[type='url'].underline, input[type='number'].underline, input[type='tel'].underline, textarea.underline { background-color: transparent; border: 0; border-bottom: 1px solid #666; }
table.stripped td input[type='text'], table.stripped td input[type='email'], table.stripped td input[type='password'], table.stripped td input[type='url'], table.stripped td input[type='number'], table.stripped td input[type='tel'], table.stripped td textarea { border-color: #aaa; }

input[type="checkbox"] + label + input[type='text'], input[type="radio"] + label + input[type='text'], input[type="checkbox"] + label + input[type='email'], input[type="radio"] + label + input[type='email'], input[type="checkbox"] + label + input[type='password'], input[type="radio"] + label + input[type='password'], input[type="checkbox"] + label + input[type='url'], input[type="radio"] + label + input[type='url'], input[type="checkbox"] + label + input[type='number'], input[type="radio"] + label + input[type='number'], input[type="checkbox"] + label + input[type='tel'], input[type="radio"] + label + input[type='tel'] { width: 100px; display: inline-block; margin-left: -1rem; margin-right: 3rem; }

textarea { max-width: 100%; }

label { display: block; margin-bottom: 0.5rem; font-size: 1.4rem; }

select { display: block; width: 100%; padding: 0.5rem 1rem; font-family: "Open Sans", sans-serif; background-color: #fff; box-sizing: border-box; -webkit-border-radius: 0.2rem; -moz-border-radius: 0.2rem; -ms-border-radius: 0.2rem; border-radius: 0.2rem; border: 1px solid #ccc; font-size: 1.4rem; font-weight: 600; color: #444; }
select.ng-invalid { border: 1px solid #F77 !important; background-color: #FFF3F3; }

.radio-with-input { display: inline-block; }

b.required { color: #BD2121; }

/** Marius addons */
/** Making sure all the masks are properly detected as errors**/   /** Hiding arrows on some number inputs */
.hide-arrows::-webkit-inner-spin-button, .hide-arrows::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

/** Displaying some input boxes */
input[type="checkbox"].force-display { display: inline; }

.ng-invalid-mask:not(form) { border: 1px solid #F77; background-color: #FFF3F3; }

input[type="checkbox"], input[type="radio"] { display: none; }

input[type="checkbox"] + label, input[type="radio"] + label { display: inline-block; position: relative; padding-left: 2.4rem; margin-right: 3rem; font-weight: 600; cursor: pointer; }
input[type="checkbox"] + label:before, input[type="checkbox"] + label:after, input[type="radio"] + label:before, input[type="radio"] + label:after { box-sizing: border-box; width: 1.6rem; height: 1.6rem; content: ""; position: absolute; left: 0; top: 0.3rem; }
input[type="checkbox"] + label:before, input[type="radio"] + label:before { border: 1px solid #999; display: block; background-color: #fff; }
input[type="checkbox"] + label:after, input[type="radio"] + label:after { display: none; }

input[type="checkbox"].ng-invalid-required + label:before, input[type="checkbox"].ng-invalid-required + label:after, input[type="radio"].ng-invalid-required + label:before, input[type="radio"].ng-invalid-required + label:after { border: 1px solid #F77 !important; background-color: #FFF3F3 !important; }

input[type="radio"] + label:before { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; }

input[type="radio"]:checked + label:after { display: block; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; width: 1rem; height: 1rem; left: 0.3rem; top: 0.6rem; background-color: #398ECF; }

input[type="checkbox"] + label:before { -webkit-border-radius: 0.2rem; -moz-border-radius: 0.2rem; -ms-border-radius: 0.2rem; border-radius: 0.2rem; }

input[type="checkbox"]:checked + label:before { border-color: #398ECF; background-color: #398ECF; }
input[type="checkbox"]:checked + label:after { display: block; left: 0.56rem; top: 0.56rem; /*Make it a small rectangle so the border will create an L-shape */ width: 0.56rem; height: 0.88rem; /*Add a white border on the bottom and left, creating that 'L' */ border: solid #fff; border-width: 0 0.2rem 0.2rem 0; /*Rotate the L 45 degrees to turn it into a checkmark */ -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

.loader { display: block; height: 50px; background: url(assets/loader.gif) no-repeat center center; color: rgba(0, 0, 0, 0); }

input[type='button'], input[type='submit'], .btn, .btn-primary, .btn-secondary { -webkit-border-radius: 0.4rem; -moz-border-radius: 0.4rem; -ms-border-radius: 0.4rem; border-radius: 0.4rem; -webkit-appearance: none; background-color: #398ECF; border: 1px solid #398ECF; padding: 1.3rem 2rem; margin-bottom: 1rem; color: #fff; font-size: 1.4rem; cursor: pointer; text-decoration: none; }
input[type='button']:hover, input[type='submit']:hover, .btn:hover, .btn-primary:hover, .btn-secondary:hover { text-decoration: none; color: #fff; background-color: #4e9ad4; }
input[type='button']:focus, input[type='button']:active, input[type='submit']:focus, input[type='submit']:active, .btn:focus, .btn:active, .btn-primary:focus, .btn-primary:active, .btn-secondary:focus, .btn-secondary:active { outline: 0 !important; }
input[type='button'] + input[type='button'], input[type='button'] + input[type='submit'], input[type='button'] + .btn, input[type='submit'] + input[type='button'], input[type='submit'] + input[type='submit'], input[type='submit'] + .btn, .btn + input[type='button'], .btn + input[type='submit'], .btn + .btn, .btn-primary + input[type='button'], .btn-primary + input[type='submit'], .btn-primary + .btn, .btn-secondary + input[type='button'], .btn-secondary + input[type='submit'], .btn-secondary + .btn { margin-left: 0.7rem; }
input[type='button'].btn-disabled, input[type='button'].disabled, input[type='button']:disabled, input[type='submit'].btn-disabled, input[type='submit'].disabled, input[type='submit']:disabled, .btn.btn-disabled, .btn.disabled, .btn:disabled, .btn-primary.btn-disabled, .btn-primary.disabled, .btn-primary:disabled, .btn-secondary.btn-disabled, .btn-secondary.disabled, .btn-secondary:disabled { opacity: 0.65; color: #eef8ff; border-color: #6aa7d6; background-color: #6aa7d6; }
input[type='button'].btn-disabled:hover, input[type='button'].disabled:hover, input[type='button']:disabled:hover, input[type='submit'].btn-disabled:hover, input[type='submit'].disabled:hover, input[type='submit']:disabled:hover, .btn.btn-disabled:hover, .btn.disabled:hover, .btn:disabled:hover, .btn-primary.btn-disabled:hover, .btn-primary.disabled:hover, .btn-primary:disabled:hover, .btn-secondary.btn-disabled:hover, .btn-secondary.disabled:hover, .btn-secondary:disabled:hover { cursor: not-allowed; }

.btn-min-width { min-width: 100px; }

.btn-secondary:not(.btn-primary) { background-color: transparent; color: #398ECF; }
.btn-secondary:not(.btn-primary):hover { color: #4e9ad4; border-color: #4e9ad4; background-color: transparent; }
.btn-secondary:not(.btn-primary).btn-disabled, .btn-secondary:not(.btn-primary).btn-disabled:hover, .btn-secondary:not(.btn-primary).disabled, .btn-secondary:not(.btn-primary).disabled:hover, .btn-secondary:not(.btn-primary):disabled, .btn-secondary:not(.btn-primary):disabled:hover { color: #6aa7d6; border-color: #6aa7d6; background-color: transparent; }

.btn-group { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.btn-group .btn, .btn-group .btn-primary, .btn-group .btn-secondary { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; margin: -1px 0 0 -1px; }
.btn-group.full-width .btn, .btn-group.full-width .btn-primary, .btn-group.full-width .btn-secondary { flex-grow: 1; -webkit-flex-grow: 1; -moz-flex-grow: 1; -ms-flex-grow: 1; }

.alert { padding: 1rem; border: 1px solid #888; display: block; }
.alert.alert-success { background-color: #dff0d8; border-color: #d0e9c6; color: #3c763d; }
.alert.alert-info { background-color: #d9edf7; border-color: #bcdff1; color: #31708f; }
.alert.alert-warning { background-color: #fcf8e3; border-color: #faf2cc; color: #8a6d3b; }
.alert.alert-danger { background-color: #f2dede; border-color: #ebcccc; color: #a94442; }

table { border-collapse: inherit; border-spacing: 0; border: 0; width: 100% !important; }
table td, table th { vertical-align: top; }
table td { background-color: #f3f3f3; padding: 1rem; border: 1px solid #fff; }

table.columns-2 td { width: 50%; }

.table-wrapper { width: 100%; overflow-x: auto; }

table.stripped td { border: 0; border-bottom: 1px solid #ddd; background-color: transparent; }

table.small td { font-size: 1.2rem; padding: 0.5rem; }

table.transparent td { background-color: transparent; border-color: transparent; }

.datepicker-icon { padding-right: 30px !important; background-image: url("../assets/icon-calendar.png"); background-position: center right; background-repeat: no-repeat; }

.uib-datepicker-popup { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0 2px 5px rgba(221, 221, 221, 0.9); -moz-box-shadow: 0 2px 5px rgba(221, 221, 221, 0.9); box-shadow: 0 2px 5px rgba(221, 221, 221, 0.9); margin-top: 2px; padding: 20px; position: absolute; display: inline-block !important; background: #FFF; border: 1px solid #f3f3f3; list-style: none; }
.uib-datepicker-popup > li { padding: 0; }
.uib-datepicker-popup table { width: auto !important; outline: 0 !important; }
.uib-datepicker-popup table td, .uib-datepicker-popup table th { padding: 0; background: transparent; }
.uib-datepicker-popup table td em, .uib-datepicker-popup table th em { padding: 6px 10px; font-style: normal; color: #aaa; font-size: 10px; float: right; padding-left: 0; }
.uib-datepicker-popup table thead th { border-bottom: 1px solid #ddd; text-align: center; }
.uib-datepicker-popup table thead th button[role="heading"] { color: #398ECF; }
.uib-datepicker-popup table tbody tr:first-child td { padding-top: 10px; }
.uib-datepicker-popup .btn { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; margin: 0; padding: 6px 10px; font-size: 12px; border: 0; background: transparent; font-weight: bold; color: #444; }
.uib-datepicker-popup .btn:not(:disabled):hover { color: #398ECF; }
.uib-datepicker-popup .btn:disabled { opacity: 0.5; }
.uib-datepicker-popup .uib-right span, .uib-datepicker-popup .uib-left span { display: none; }
.uib-datepicker-popup .uib-right::before { content: "►"; }
.uib-datepicker-popup .uib-left::before { content: "◄"; }
.uib-datepicker-popup .uib-daypicker:focus { outline: 0; }
.uib-datepicker-popup .uib-button-bar { border-top: 1px solid #ddd; margin-top: 5px; padding: 5px 0 0 !important; }
.uib-datepicker-popup .pull-right { float: right; }
.uib-datepicker-popup .pull-left { float: left; }

input[uib-datepicker-popup='']:required:not(.ng-not-empty) { border: 1px solid #F77; background-color: #FFF3F3; }

.tooltip-message { position: relative; }
.tooltip-message:not(:empty) { color: #398ECF; cursor: pointer; vertical-align: middle; }
.tooltip-message:not(:empty):hover { text-decoration: underline; color: #62a5d9; }
.tooltip-message:empty { border: 1px solid #398ECF; width: 20px; display: inline-block; height: 20px; -webkit-border-radius: 40px; -moz-border-radius: 40px; -ms-border-radius: 40px; border-radius: 40px; text-align: center; color: #398ECF; cursor: pointer; font-size: 14px; }
.tooltip-message:empty:before { content: "?"; display: inline-block; height: 20px; line-height: 20px; vertical-align: top; }

.tooltip-box { display: block; padding: 1rem; margin-top: 1rem; margin-bottom: 2rem; background: #efefef; border: 1px solid #ccc; }

.inline-block { display: inline-block; }

.disabled { opacity: 0.65; }

.m-t-0 { margin-top: 0 !important; }

.m-b-1 { margin-bottom: 1rem !important; }

.m-l--3 { margin-left: -3rem !important; }

.m-l--2 { margin-left: -2rem !important; }

.m-l--1 { margin-left: -1rem !important; }

.flex-columns { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-direction: normal; -moz-box-direction: normal; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: stretch; -moz-box-pack: stretch; -webkit-justify-content: stretch; -ms-flex-pack: stretch; justify-content: stretch; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.flex-columns .col { box-sizing: border-box; }
.flex-columns .col-1 { width: 100%; }
.flex-columns .col-1-25 { width: 80%; }
.flex-columns .col-1-5 { width: 66.6%; }
.flex-columns .col-2 { width: 50%; }
.flex-columns .col-3 { width: 33.3%; }
.flex-columns .col-4 { width: 25%; }
.flex-columns .col-5 { width: 20%; }
.flex-columns .col-6 { width: 16.6%; }
.flex-columns .col-7 { width: 14.28%; }
.flex-columns .col-8 { width: 12.5%; }
.flex-columns .col-9 { width: 11.1%; }
.flex-columns .col-10 { width: 10%; }
.flex-columns .col { flex-grow: 1; -webkit-flex-grow: 1; -moz-flex-grow: 1; -ms-flex-grow: 1; background-color: #f3f3f3; padding: 1rem; border: 1px solid #fff; }

.flex-columns.transparent .col { background-color: transparent; border-color: transparent; }

ul.languages { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-direction: normal; -moz-box-direction: normal; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: flex-end; -moz-box-pack: flex-end; -webkit-justify-content: flex-end; -ms-flex-pack: flex-end; justify-content: flex-end; -webkit-box-pack: end; -moz-box-pack: end; -ms-flex-pack: end; -webkit-flex-wrap: nowrap; -moz-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; position: absolute; width: 100%; padding: 0; top: 0; max-width: 920px; margin: 0 0 0 -40px; list-style: none; background: #F3F3F3; }
ul.languages li a { display: inline-block; padding: 10px 7px; font-size: 0px; opacity: 0.8; }
ul.languages li a:hover { opacity: 1; }
ul.languages li a:hover .flag { -webkit-box-shadow: 0 0 8px rgba(66, 66, 66, 0.4); -moz-box-shadow: 0 0 8px rgba(66, 66, 66, 0.4); box-shadow: 0 0 8px rgba(66, 66, 66, 0.4); }
ul.languages li:last-child a { padding-right: 0; }

.flag { display: inline-block; width: 24px; height: 16px; background: url(/lib/iframes/common/assets/flags.png) no-repeat top left; }
.flag.da_DK { background-position: 0px -16px; }
.flag.sv_SE { background-position: 0px -32px; }
.flag.nb_NO { background-position: 0px -48px; }
.flag.fi_FI { background-position: 0px -64px; }
.flag.fr_FR { background-position: 0px -80px; }
.flag.de_DE { background-position: 0px -96px; }
.flag.nl_NL { background-position: 0px -112px; }
.flag.es_ES { background-position: 0px -128px; }
.flag.pl_PL { background-position: 0px -144px; }

div.data-list { position: relative; }
div.data-list input { width: 100%; background-image: url("../assets/dropdown-arrow.png"); background-repeat: no-repeat; background-position: right center; }
div.data-list ul { position: absolute; left: 0; right: 0; margin: 0; padding: 0; border: 1px solid #ddd; background: #f5f5f5; list-style: none; z-index: 3; max-width: 440px; }
div.data-list ul li { padding: 5px 10px; cursor: pointer; }
div.data-list ul li:hover { background: #fcfcfc; }

.outside { z-index: 2; position: fixed; top: 0; left: 0; bottom: 0; right: 0; }

body { background: #fff; }

@media screen { html { background: #F3F3F3; font-size: 10px; }
  body { box-sizing: border-box; padding: 40px; max-width: 920px; margin: 20px auto; background: #fff; } }
@media screen and (max-width: 920px) { html { background: #fff; }
  body { margin: 0; } }
@media screen and (max-width: 767px) { input[type='button'], input[type='submit'] { display: block; width: 100%; }
  input[type='button'] + input[type='button'], input[type='button'] + input[type='submit'], input[type='submit'] + input[type='button'], input[type='submit'] + input[type='submit'] { margin-left: 0rem; }
  input[type="checkbox"] + label, input[type="radio"] + label { display: block; }
  .radio-with-input input[type="checkbox"] + label, .radio-with-input input[type="radio"] + label { display: inline; }
  .radio-with-input { display: block; }
  .radio-with-input:not(.radio-no-label) input[type='text'] { display: block !important; width: 100% !important; margin: 0.5rem 0 1rem !important; }
  .flex-columns .col { width: 100%; }
  .hidden-sm { display: none !important; }
  ul.languages { margin: -20px -20px 10px; width: auto; padding: 0 20px 0 0; position: relative; }
  .uib-datepicker-popup.dropdown-menu { display: -webkit-box !important; display: -moz-box !important; display: -ms-flexbox !important; display: -webkit-flex !important; display: flex !important; -webkit-box-direction: normal; -moz-box-direction: normal; -webkit-box-orient: vertical; -moz-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; position: fixed; width: 100vw; height: 100vh; padding: 15px; margin: 0; top: 0 !important; left: 0 !important; border: 0; background: rgba(0, 0, 0, 0.8); box-sizing: border-box; }
  .uib-datepicker-popup.dropdown-menu table { width: 100% !important; }
  .uib-datepicker-popup.dropdown-menu > li { width: 100%; }
  .uib-datepicker-popup.dropdown-menu > li:first-child { -webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0; -ms-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0; overflow: hidden; }
  .uib-datepicker-popup.dropdown-menu > li:last-child { -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; -ms-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px; overflow: hidden; }
  .uib-datepicker-popup.dropdown-menu .uib-datepicker { background: #FFF; }
  .uib-datepicker-popup.dropdown-menu .uib-datepicker table thead tr:first-child th { padding-top: 2px; padding-bottom: 2px; }
  .uib-datepicker-popup.dropdown-menu .uib-button-bar { margin: 0; padding-bottom: 5px !important; background: #FFF; }
  .uib-datepicker-popup.dropdown-menu .uib-button-bar::after { display: block; content: ""; clear: both; }
  body { padding: 20px; } }
@media print { input[type='text'], input[type='email'], input[type='password'], input[type='url'], input[type='number'], input[type='tel'], textarea, select { border: none; background: transparent; padding: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
  .loader, input[type='button'], input[type='submit'] { display: none; }
  table { border-collapse: collapse; }
  table, table td { border: 1px solid #eeeeee; background: transparent; }
  table td { padding: 1rem 1.5rem; }
  table.stripped, table.stripped td { border: 0; }
  table.stripped td { border-bottom: 1px solid #eeeeee; }
  .flex-columns .col { border: 1px solid #eeeeee; background: transparent; padding: 1rem 1.5rem; }
  html { font-size: 8pt; background: #fff; }
  body { margin: 0; max-width: 100%; }
  pagebreak { page-break-after: always; }
  .unbreakable { -webkit-page-break-inside: avoid; page-break-inside: avoid; border: 5px solid #f00; }
  .flex-columns, .col { position: relative; }
  .col { -webkit-page-break-inside: avoid; page-break-inside: avoid; background: #afa !important; } }
.middle { vertical-align: middle; }
