<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
	<script src="//cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.2/es6-shim.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-animate.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.6/angular-locale_no.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/libvf@1.1.5/dist/libvf.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.min.js"></script>
	<script type="text/javascript" src="/customers/mariestad/lib/mstad.js"></script>
	<script src="scripts/ve-form.js"></script>
	<script src="scripts/ve.core.js"></script>
	<script src="scripts/ve-dates.js"></script>
	<script src="scripts/ve.public_templates_dev.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</head>

<!-- <body ng-app="mainApp" ng-controller="mainController">

	<ve-header logowidth="240" logo="assets/logo.jpg" nolabel></ve-header>

	<ve-alert-box items='{
		"error1": {"show":"error1", "type":"danger", "text":"Fatal error while loading descriptor"}
	}'></ve-alert-box>


	<form name="firstForm" ng-show="forms.firstForm" novalidate>
		<h1 style="margin:0">{{translations.mainTitle[data.lang]}}</h1>


		<span class="tooltip-box">
			<i><span style="font-size: 15px; color: red; font-weight: bold">{{translations.pleaseNote[data.lang]}}</span></i> <i ng-bind-html="getHtml(translations.Info1[data.lang])"></i>
		</span>

		<h4>{{translations.sectionHead1[data.lang]}}</h4>
		{{translations.docInfo1[data.lang]}} <a target="_blank" href="https://app.verified.eu/customers/sts/sts-highschool-fi/STS_SELECT_VAIHTO.pdf">{{translations.docName1[data.lang]}}</a>
		<br />

		<p>
			{{translations.docInfo1Sub[data.lang]}}
		</p>

		<p>
			 {{translations.docInfo2[data.lang]}} <a target="_blank" href="https://app.verified.eu/customers/sts/sts-highschool-fi/Privacy_Policy_for_High_School_FI.pdf">{{translations.docName2[data.lang]}}</a>.
		</p>


		<br>

		<div class="flex-columns">
		  <ve-label bold cols="1" key="studentInfoHead"><small>{{translations.sutdentInfo[data.lang]}}</small></ve-label>

			<ve-input cols="1" style="width: 66.6%" key="firstName" required></ve-input>

			<ve-input cols="3" key="lastName" required></ve-input>
			<ve-input cols="2" style="width: 66.6%" key="email" type="email" required></ve-input>
			<div class="col col-3">
				<label>{{translations.yob[data.lang]}}
				</label>
				<input type="text" ng-model="data.dob" mask="9999" placeholder="YYYY" ng-required="true"/>
			</div>

		</div>

		<br>

		<h3>{{translations.emergencyHead[data.lang]}}</h3>
		<p>{{translations.emergencyInfo[data.lang]}}</p>

		<br>

		<div class="flex-columns">
		  <ve-label ng-if="translations" bold cols="1" key="parent1_label" tip='{"text":"parent1Tip"}'></ve-label>
			<ve-input cols="3" key="parent1_firstName" labelkey="firstName" required></ve-input>
			<ve-input cols="3" key="parent1_lastName" labelkey="lastName" required></ve-input>
			<ve-input cols="3" key="parent1_email" type="email" labelkey="email" required></ve-input>
			<ve-input cols="2" key="parent1_relationship" required></ve-input>
			<ve-input cols="2" key="parent1_tlf" required></ve-input>
		</div>

		<br>

		<div class="flex-columns">
		  <ve-label bold cols="1" key="parent2_label"></ve-label>
			<ve-input cols="3" key="parent2_firstName" labelkey="firstName" required></ve-input>
			<ve-input cols="3" key="parent2_lastName" labelkey="lastName" required></ve-input>
			<ve-input cols="3" key="parent2_email" labelkey="email" type="email" required></ve-input>
			<ve-input cols="2" key="parent2_relationship" labelkey="parent1_relationship" required></ve-input>
			<ve-input cols="2" key="parent2_tlf" labelkey="parent1_tlf" required></ve-input>
		</div>

		<br>
		<p>{{translations.emergencyInfo1[data.lang]}}</p>
		<p>{{translations.emergencyInfo2[data.lang]}}</p>
		<br>

		<h3>{{translations.rulesHead[data.lang]}}</h3>
		<p>
			{{translations.rulesInfo1[data.lang]}}
			<ul>
				<li>{{translations.rulesInfo1Op1[data.lang]}}</li>
				<li>{{translations.rulesInfo1Op2[data.lang]}}</li>
				<li>{{translations.rulesInfo1Op3[data.lang]}}</li>
				<li>{{translations.rulesInfo1Op4[data.lang]}}<br>
					<ul>
						<li>{{translations.rulesInfo1SubOp1[data.lang]}}</li>
						<li>{{translations.rulesInfo1SubOp2[data.lang]}}</li>
						<li>{{translations.rulesInfo1SubOp3[data.lang]}}</li>
						<li>{{translations.rulesInfo1SubOp4[data.lang]}}</li>
					</ul>
				</li>
			</ul>
		</p>

		<br>
		<p>
			{{translations.rulesInfo2[data.lang]}}
			<ul>
				<li>{{translations.rulesInfo2Op1[data.lang]}}</li>
				<li>{{translations.rulesInfo2Op2[data.lang]}}</li>
				<li>{{translations.rulesInfo2Op3[data.lang]}}</li>
				<li>{{translations.rulesInfo2Op4[data.lang]}}</li>

				<li>{{translations.rulesInfo2Op6[data.lang]}}</li>
			</ul>
		</p>
		<br>
		<p>
			{{translations.rulesInfo3[data.lang]}}
		</p>
		<br />

		<ve-alert-box items='{
			"invalid": {"show":"firstForm.$invalid&& translations.invalid","key": "invalid",  "type":"danger"}
		}'></ve-alert-box>

		<ve-buttons items='{
		  "next": {"type":"button", "click":"displayForm(\"secondForm\")",  "disabled":"firstForm.$invalid"}
		}'></ve-buttons>

	</form>

	<form name="secondForm" ng-show="forms.secondForm" novalidate>
		<h1>{{translations.title[data.lang]}}</h1>
		<h3>{{translations.guardian[data.lang]}}</h3>
		<h3>{{translations.sectionHead2[data.lang]}}</h3>

		<ul>
			<li>
				{{translations.section2Op1[data.lang]}}
			</li>
			<br />
			<li>{{translations.section2Op2[data.lang]}}
				<ul>
					<li>{{translations.section2Info1[data.lang]}}<br><br>
						{{translations.section2Info2[data.lang]}}
					</li>
					<br>
					<li>{{translations.section2Info3[data.lang]}}<br><br>
						{{translations.section2Info4[data.lang]}}
					</li>
				</ul>
			</li>
		</ul>

		<br />
		
		<p>{{translations.section2Info6[data.lang]}}</p>
		<h3>{{translations.section5Head[data.lang]}}</h3>
		<p>{{translations.section5Info1[data.lang]}}</p>
		<p>{{translations.section5Info2[data.lang]}}</p>
		<p>{{translations.section5Info3[data.lang]}}</p>
		<p>{{translations.section5Info4[data.lang]}}</p>
		<p>{{translations.section5Info5[data.lang]}}</p>
		<div class="flex-columns">
			<ve-radio cols="1" key="photoConsent1" items='{"yes":"section5Op1","no":"section5Op2"}' required></ve-radio>
			<ve-radio cols="1" key="photoConsent2" items='{"yes":"section5Op3","no":"section5Op4"}' required></ve-radio>
			<ve-radio cols="1" key="photoConsent3" items='{"yes":"section5Op5","no":"section5Op6"}' required></ve-radio>
		</div>

		<br />
		<p style="border: 1px solid #000; padding: 10px;">
			{{translations.section2Info7[data.lang]}}
		</p>

		<div class="flex-columns">
			<ve-checkbox cols="1" nolabel key="first_agreement" required items='{
				"1": {"key":"setion2Check"}
			}'></ve-checkbox>
		</div>

		<br />

		<span class="tooltip-box">
			<i><span style="font-size: 15px; color: red; font-weight: bold">{{translations.pleaseNote[data.lang]}}</span> </i><i  ng-bind-html="getHtml(translations.section2Note[data.lang])"></i>
		</span>

		<ve-alert-box items='{
			"invalid": {"show":"secondForm.$invalid", "key": "invalid","type":"danger"}
		}'></ve-alert-box>

		<br />

		<ve-buttons items='{
			"back": {"type":"button", "click":"displayForm(\"firstForm\")", "disabled":""},
			"next": {"type":"button", "click":"displayForm(\"thirdForm\")", "disabled":"secondForm.$invalid"}
		}'></ve-buttons>

	</form>

	<form name="thirdForm" ng-show="forms.thirdForm" novalidate>
		<h1>{{translations.title[data.lang]}}</h1>
		<h3>{{translations.participant[data.lang]}}<h3>
		<h3>{{translations.section3Head[data.lang]}}</h3>


		<ul>
			<li>
				{{translations.section3Op1[data.lang]}}
			</li>
			<li>{{translations.section3Op2[data.lang]}}
				<ul>
					<li>{{translations.section3Info1[data.lang]}}</li>
					<li>{{translations.section3Info2[data.lang]}}</li>
				</ul>
			</li>
		</ul>

		<br />

		<p>{{translations.section3Info4[data.lang]}}</p>


		<div class="flex-columns">
			<ve-checkbox cols="1" nolabel key="second_agreement" required items='{
				"1": "Olen lukenut asiakirjan ja hyväksyn sen sisällön"
			}'></ve-checkbox>
		</div>

		<br />

		<ve-alert-box items='{
			"invalid": {"show":"thirdForm.$invalid", "key": "invalid", "type":"danger"}
		}'></ve-alert-box>

		<br />

		<ve-buttons items='{
			"back": {"type":"button", "click":"displayForm(\"secondForm\")", "disabled":""},
			"next": {"type":"button", "click":"displayForm(\"recipientForm\")", "disabled":"thirdForm.$invalid"}
		}'></ve-buttons>

	</form>

	<form name="recipientForm" ng-show="forms.recipientForm" novalidate>
<h1>{{translations.title[data.lang]}}</h1>
		<div class="flex-columns">
			<ve-label cols="1" label="{{translations.parent1[data.lang]}}" bold buttons='{
				"copyUser": {"click":"copyContact1()"}
			}'></ve-label>
			<ve-input cols="3" key="signer1_firstName" labelkey="firstName" required></ve-input>
			<ve-input cols="3" key="signer1_lastName" labelkey="lastName" required></ve-input>
			<ve-input cols="3" key="signer1_email" type="email" labelkey="email" required></ve-input>
		</div>

		<br />

		<style>
		body > form:nth-child(8) > div:nth-child(4) > div > span {
			margin-left: -15px !important;
		}
		</style>

		<div class="flex-columns">
			<ve-checkbox cols="1" nolabel key="second_parent" items='{
				"1": "Parent 2"
			}' inline></ve-checkbox>
		</div>

		<div ng-if="data.second_parent['1']" class="flex-columns">

			<ve-input cols="3" key="signer2_firstName" labelkey="firstName" required></ve-input>
			<ve-input cols="3" key="signer2_lastName" labelkey="lastName" required></ve-input>
			<ve-input cols="3" key="signer2_email" type="email" labelkey="email" required></ve-input>
		</div>

		<br />

		<p>{{translations.section4Info[data.lang]}}</p>

		<br />

		<span class="tooltip-box">
			<i><span style="font-size: 15px; color: red; font-weight: bold">{{translations.pleaseNote[data.lang]}}</span> 
			</i><i ng-bind-html="getHtml(translations.section4Note[data.lang])"></i>
		</span>

		<ve-alert-box items='{
			"invalid": {"show":"recipientForm.$invalid", "key": "invalid", "type":"danger"}
		}'></ve-alert-box>

		<br />

		<ve-buttons items='{
			"back": {"type":"button", "click":"displayForm(\"thirdForm\")", "disabled":""},
			"goSign": {"type":"button", "click":"submitData()", "disabled":"recipientForm.$invalid||busy"}
		}'></ve-buttons>

	</form>

	<div class="alert alert-success" ng-if="published" style="text-align: center">
		<h3>
			{{translations.infoText[data.lang]}}
		</h3>
	</div>

		<ve-busy show="busy" items='{
		}'></ve-busy>


</body> -->
<body ng-app="mainApp" ng-controller="mainController">
	<h3 style="text-align: center;">{{translations.DisabledText[data.lang]}}</h3>
</body>
</html>
